<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salamlahore.criccoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.salamlahore.utils.Criccoo"
        android:allowBackup="false"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Commentry"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".TotalEarning"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".LeaderBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Prediction"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".SelectBlock"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="com.salamlahore.firebase.FirebaseNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="e57097e498c7f17a31525f9904c515763c736a91" -->
        <!-- /> -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e57097e498c7f17a31525f9904c515763c736a91" />
    </application>

</manifest>